/* Hero section */
.hero img {
    object-fit: cover;
}
.hero .gradient {
    background: rgb(1, 38, 119);
    background: linear-gradient(
        180deg,
        rgba(1, 38, 119, 0.6979166666666667) 0%,
        rgba(0, 212, 255, 0) 100%,
        rgba(2, 0, 36, 1) 012677%
    );
    top: 0;
    z-index: 1;
}
.hero__wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.search__wrapper div {
    flex-grow: 3;
}
.search__wrapper input {
    background-color: var(--light);
    color: var(--dark-grey);
}
.search__wrapper button {
    height: 38px;
    flex-grow: 1;
}
/* End hero section */

/* Our client section */
.our__client img {
    max-width: 38px;
}
/* End our client section */

/* Highlight product section */
.highlight__product img {
    max-height: 300px;
    /* max-width: 300px; */
    object-fit: cover;
}
.highlight__product .item__wrapper:last-child {
    margin-bottom: 0 !important;
}
/* End highlight product section */

/* Review section */
.testimony__card img {
    max-height: 42px;
}
/* Review section */

@media screen and (min-width: 576px) {
    /* Hero section */
    .search__wrapper {
        width: 70%;
    }
    /* End hero section */
}

@media screen and (min-width: 768px) {
    /* Hero section */
    .hero__wrapper {
        width: 75% !important;
    }
    /* End hero section */

    /* Highlight product section */
    .highlight__product .item__mobile button {
        width: 50% !important;
    }
    /* End highlight product section */
}

@media screen and (min-width: 992px) {
    /* Highlight product section */
    .highlight__product img {
        max-width: 300px;
    }
    .highlight__product .item__mobile {
        display: none !important;
    }
    .highlight__product .item__desktop {
        display: flex !important;
    }
    /* End highlight product section */
}

@media screen and (min-width: 1200px) {
    .item__desktop .description {
        width: 60%;
    }
    .item__desktop img {
        max-width: 440px;
    }
    /* Hero section */
    .search__wrapper {
        width: 40%;
    }
    /* End hero section */
}
