/* Variable */
:root {
  --dark-blue: #0c2c5b;
  --dark-blue-hover: #071a37;
  --blue: #4094f8;
  --dark-grey: #474c50;
  --grey: #bebfc3;
  --black: #2b2b2b;
  --green: #28c397;
  --green-hover: #24b088;
  --orange: #fdae58;
  --orange-hover: #e49d4f;
  --pink: #ff7a7a;
  --pink-hover: #e66e6e;
  --light: #f7f7fc;
  --white: #ffffff;
}
/* End variable */

/* Initializing */
* {
  font-family: 'Open Sans', sans-serif;
}
body {
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-bottom: 0;
}
.lh__md {
  line-height: 1.5;
}
.lh__big {
  line-height: 2;
}
.br__big {
  border-radius: 1rem;
}
.br__md {
  border-radius: 0.5rem;
}
.br__sm {
  border-radius: 0.25rem;
}
.text__shadow {
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.6);
}
.fw__black {
  font-weight: 900;
}
.equal__width {
  flex: 1 1 0;
}
input {
  min-height: 42px;
}
input[type='checkbox'] {
  min-height: unset;
}
/* End initializing */

/* Font size */
.title1 {
  font-size: 24px;
}
.title2 {
  font-size: 20px;
}
.title3 {
  font-size: 18px;
}
.title4 {
  font-size: 16px;
}
.title5 {
  font-size: 14px;
}
.title6 {
  font-size: 12px;
}
/* End font size */

/* Color */
.green {
  color: var(--green);
}
.dark__blue {
  color: var(--dark-blue);
}
.orange {
  color: var(--orange);
}
.dark__grey {
  color: var(--dark-grey);
}
.black {
  color: var(--black);
}
/* End color */

/* Bg color */
.bg__dark-blue {
  background-color: var(--dark-blue);
}
.bg__green {
  background-color: var(--green);
}
.bg__orange {
  background-color: var(--orange);
}
.bg__pink {
  background-color: var(--pink);
}
.bg__light {
  background-color: var(--light);
}
/* End bg color */

/* Button */
.mybtn {
  display: block;
  min-height: 42px;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid;
  font-size: 14px;
  font-weight: bold;
}
.mybtn.dark__blue {
  background-color: var(--dark-blue);
  color: white;
  border-color: var(--dark-blue);
}
.mybtn.orange {
  background-color: var(--orange);
  color: white;
  border-color: var(--orange);
}
.mybtn.pink {
  background-color: var(--pink);
  color: white;
  border-color: var(--pink);
}
.mybtn.green {
  background-color: var(--green);
  color: white;
  border-color: var(--green);
}
.mybtn.white {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--grey);
}
/* End button */

/* Border color */
.bc__grey {
  border: 1px solid var(--grey);
}
.bc__dark-blue {
  border: 1px solid var(--dark-blue);
}
.bc__green {
  border: 1px solid var(--green);
}
.bc__orange {
  border: 1px solid var(--orange);
}
/* End border color */

/* Form */
.form-control {
  font-size: 14px;
}
/* End form */

/* Navbar */
#navbar .navbar-toggler {
  border: 1px solid var(--grey);
}
#navbar .navbar-toggler:focus {
  box-shadow: none;
}
#navbar .active {
  color: var(--green);
  font-weight: 600;
}
/* End navbar */

/* Footer */
footer {
  position: sticky;
  top: 100%;
  background-color: var(--dark-blue);
}
footer .brand,
footer .contact {
  flex-grow: 1;
}
footer .credit {
  border-top: 1px solid var(--white);
}
footer .credit svg {
  color: var(--pink);
}
/* End footer */

@media screen and (min-width: 768px) {
  /* Font size */
  .title1 {
    font-size: 28px;
  }
  .title2 {
    font-size: 24px;
  }
  /* End font size */
}

@media screen and (min-width: 992px) {
  /* Font size */
  .title1 {
    font-size: 32px;
  }
  .title2 {
    font-size: 24px;
  }
  .title3 {
    font-size: 20px;
  }
  /* End font size */
}

@media screen and (min-width: 1200px) {
  .highlight__product .header div,
  .highlight__product .header p {
    flex: 1 1 0;
  }
  .highlight__product .header p {
    flex-grow: 2;
  }
  /* .review div {
        flex: 1 1 0;
    } */
  .review div:last-child {
    flex-grow: 3;
  }
  .title4 {
    font-size: 18px;
  }
  .title5 {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
  /* .title4 {
        font-size: 18px;
    } */
}
